<?php

return [
    'mls_id' => 'your_mls_id',
    'office_count' => 50,
    'member_count' => 150,
    'property_count' => 500,
    'openhouse_count' => 1000,
    'history_count' => 1000,
    'media_count' => 5000,
    'unsplash_app_id' => 'your_unsplash_app_id', // unsplash specific
    'interior_collection' => collection_id, // unsplash id or filesystem path to interior image directory if using local provider
    'exterior_collection' => collection_id, // unsplash id or filesystem path to interior image directory if using local provider
    'portrait_collection' => collection_id, // unsplash id or filesystem path to interior image directory if using local provider
    'photo_provider' => \FeedFaker\Helper\UnsplashPhotoProvider::class,
];